
<html>
  <head>
  <title>BLOG</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

  
  <link rel="stylesheet" href="/css/compose.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
       <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
      <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
  
  
       <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
          integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
          crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
          crossorigin="anonymous"></script>
       <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      
      
   
  <style>
   @import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap');
  *{
  margin: 0;
  padding: 0;
  
  }
  body{
  background-color: #9acd32;
  margin: 0;
  overflow-x:hidden;
  
  }
  #box{
  width: 60%;
  
  height: 90%;
  background-color: #faa550;
  
  margin: auto;
  margin-top: 5%;
  
  }
  #inp{
  
  width: 95%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-left: 8px;
  }
  
  #hh{
  margin-top: 40px;
  
  
  }
  #myfile{
  margin-left: 15px;
  font-size: 20px;
  
  
  }
  #post{
  float: right;
  border: 1px solid grey;
  padding: 4px;
  background-color: #9ded91;
  cursor: pointer;
  margin-right: 30px;
  
  }
  #ii{
  font-size: 18px;
  margin-left: 5px;
  width: 95%;
  
  }
   *#title {
              /* background-color: #ff4c68; */
              background-color: #9acd32;
        height: 60px;
              color: #ffffff;
          }
          .container-fluid {
              padding: 3% 15%;
          }
  
          .download-button {
              margin: 7% 5% 7% 0%;
          }
  
          /* navbar */
          .navbar:nth-child(1) {
              padding: 0 0 4.5rem;
          }
  
          .navbar-brand {
              font-family: "Ubuntu";
              font-size: 2.8rem;
              font-weight: bold;
      
        
    
              color: #ffffff;
          }
  
          .nav-item {
              padding: 0 18px;
          }
  
          .our_services {
              font-family: "Montserrat-Bold";
              font-size: 2.5rem;
              font-weight: bold;
              display: flex;
              justify-content: center;
        
          }
  
          .nav-link {
              font-size: 1.9rem;
              font-family: "Montserrat";
          }
  
          /* title image */
          .title-image {
              border-radius: 100%;
              width: 40%;
        margin-right: 5px;
        float: left;
          }
  
          .title-image:hover {
              height: 300px;
              border-radius: 30% 30% 30% 30%;
          }
      #h{
      margin-left: 60px;
      margin-top: -38px;
      
      }
      #tog{
      float: right;
      }
  #head{
  
   box-shadow: 5px 10px 8px 10px #888888;
   width: 200px;
  text-align: center;
  margin-top: 3%;
  margin-left: 42%;
  }
  
  
  
  @media (max-width: 768px){
  #head{
  width: 100%;
  text-align: center;
  padding: 20px;
  text-align: center;
  margin-left: 0;
  margin-top: 50px;
  
  }
  }
  @media (max-width: 1000px){
  #brand{
  padding-left: 0;
  float: left;
  }
  
  #navv{
  height: 300px;
  }
  
  #box {
  height: 590px;
  width: 90%;
  
  
  }
  #inp{
  
  padding-bottom: 16px;
  font-size: 15px;
  }
  #hh{
  font-size: 20px;
  margin-right:0;
  
  }
  #post{
  font-size: 30px;
  }
  #myfile{
  font-size: 20px;
  }
  }
  @media (max-width: 1000px)
  {
  #ii{
  width: 96%;
  }
  
  }
  @media (min-width: 1001px) and (max-width: 1200px)
  {
  #ii{
  width: 96%;
  }
  
  }
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
  *{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .content1{
   
    margin: 130px auto;
    text-align: center;
    padding: 0 20px;
  }
  .content1 .text{
    font-size: 2.5rem;
    font-weight: 600;
    color: #202020;
  }
  .content1 .p{
    font-size: 20px;
    font-weight: 600;
    color: #202020;
  }
  footer{
  margin-top: 10px;
    bottom: 0px;
    width: 100%;
    background: #faa550;
  }
  .main-content{
    display: flex;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 10px;
    
    text-transform: uppercase;
  }
  .box .content{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }
  .box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
  }
  .left .content p{
    text-align: justify;
  }
  .left .content .social{
    margin: 20px 0 0 0;
  }
  .left .content .social a{
    padding: 0 2px;
  }
  .left .content .social a span{
    height: 40px;
    width: 40px;
    background: #5f90a3;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .left .content .social a span:hover{
    background: #f12020;
  }
  .center .content .fas{
    font-size: 1.4375rem;
    background:  #9ded91;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .center .content .fas:hover{
    background: #f12020;
  }
  .center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
  }
  .center .content .phone{
    margin: 15px 0;
  }
  .right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
  }
  .right form .msg{
    margin-top: 10px;
  }
  .right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #695a59;
    padding-left: 10px;
    border: 1px solid #222222;
  }
  .right form input:focus,
  .right form textarea:focus{
    outline-color: #3498db;
  }
  .right form input{
    height: 35px;
  }
  .right form .btn{
    margin-top: 10px;
  }
  .right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background:  #9ded91;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
  }
  .right form .btn button:hover{
    background: #000;
  }
  
  @media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
  }
  
  
  /*updated blog css*/
  #mbox {
    width: 60%;
    margin: 40px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    padding-top: 10px;
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
  }
  .mabox{
    width: 20%;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  
  #mheading {
    font-family: serif;
    font-weight: bold;
    background-color: #faa550;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
  }
  
  #mblog {
    text-align: center;
  }
  #mblog label {
    font-family: monospace;
    color: #faa550;
    font-size: 17px;
    float: left;
  }
  textarea[type="text"], input[type="text"]{
    font-family: Lucida Console;
    font-size: 13px;
    border: 1px solid #faa550;
    border-radius:10px;
    padding: 10px; 
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%; color: #000000;
  }
  
  textarea[type="text"]:focus, input[type="text"]:focus {
      outline: none !important;
  }
  .post {
    margin-bottom: 10px;
    width:130px;
    font-weight: bolder;
    margin-top: 15px;
    font-size: 17px;
    background-color: #faa550;
    padding: 7px;
    padding-left: 20px;
    border: none;
    padding-right: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  .post:hover {
    background-color: rgb(250, 140, 80);
  }
  button:focus {
    outline: none;
  }
  
  /*tablets*/
  @media (max-width: 768px){
  #mpost {
    width:90px;
    font-size: 16px;
  }
  #mheading h1 {
    font-size: 20px;
  }
  #mbox {
    width: 85%;
  }
  .mabox {
    width: 30%;
  }
  #mheading {
    padding-top: 0.9%;
    padding-bottom: 0.9%;
  }
  #mblog label {
    font-size: 15px;
  }
  textarea[type="text"], input[type="text"]{
    font-size: 13px;
  }
  .post {
    font-size: 15px;
  }
  }
  
  /*mobile*/
  @media (max-width: 576px){
  #mpost {
    width:90px;
    font-size: 15px;
  }
  #mheading h1 {
    font-size: 20px;
  }
  #mbox {
    width: 90%;
  }
  .mabox {
    width: 30%;
  }
  #mheading {
    padding-top: 0.9%;
    padding-bottom: 0.9%;
  }
  #mblog label {
    font-size: 15px;
  }
  textarea[type="text"], input[type="text"]{
    font-size: 12px;
  }
  .post {
    font-size: 15px;
  }
  }
  
  
  
  
      
     .sidenav {
              height: 100%;
              /* 100% Full-height */
              width: 0;
              /* 0 width - change this with JavaScript */
              position: fixed;
              /* Stay in place */
              z-index: 1;
              /* Stay on top */
              top: 0;
              /* Stay at the top */
              left: 0;
              background-color: #111;
              /* Black*/
              overflow-x: hidden;
              /* Disable horizontal scroll */
              padding-top: 60px;
              /* Place content 60px from the top */
              transition: 0.5s;
              /* 0.5 second transition effect to slide in the sidenav */
          }
  
          /* The navigation menu links */
          .sidenav a {
              padding: 8px 8px 8px 32px;
              text-decoration: none;
              font-size: 25px;
              color: #818181;
              display: block;
              transition: 0.3s;
          }
  
          /* When you mouse over the navigation links, change their color */
          .sidenav a:hover {
              color: #f1f1f1;
          }
  
          /* Position and style the close button (top right corner) */
          .sidenav .closebtn {
              position: absolute;
              top: 0;
              right: 25px;
              font-size: 36px;
              margin-left: 50px;
          }
  
          /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
          #main {
              transition: margin-left .5s;
              padding: 20px;
          }
  
          /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
          @media screen and (max-height: 450px) {
              .sidenav {
                  padding-top: 15px;
              }
  
              .sidenav a {
                  font-size: 18px;
              }
          }
      
      
  .fa fa-bars{
  background-color: black;
  color:black;
  }
  .btn btn-lg my-2 my-lg-0 download-button{
  background-color: green;
  padding: 5px;
  color:black;
  margin-right: -800px;
  
  }
  #dr {
  padding: 5px;
  margin-right:-1000px;
  
  color:black;
  display: none;
  
  }
  @media (max-width: 1100px)
  {
  #dr{
  margin-right: 0px;
  }
  }
  
  
  #navbarTogglerDemo02{
  font-size: 20px;
  justify-content: space-around;
  margin-right: 20px;
  padding-left: 3%;
  
  
  }		
  #space{
  margin-right: 3px;
  }
  
  @media (max-width: 950px)
  {
  #navbarTogglerDemo02{
  display:none;
  
  }
  #dr{
  display: block;
  }
  
  }
  
  @media (max-width: 990px)
  {
  #uu {
  display: none;
  
  }
  }
  
  </style>
  </head>
  
  
  
  <body>
   <section id="title">
          <div class="container-fluid" style="padding-bottom: 40px;">
  
          </div>
      <div class="container-fluid" style="height: 300px;margin-top: 40px;padding-right: 0%;margin-right: 0%;">
              <!-- navbar -->
              <%- include('partials/navbar'); %>
  
              <!-- title -->
             
          
  
      </section>
  
  
      <div class="header">
        <h1 class="title">BLOGS</h1>
    </div>
    <div class="container0">
    <div class="form">
        <form  action="/blog/compose" method="post">
        <div class="content">
        <label>Blog Title:</label>
        <br>
        <input type="text" name="title" id="blog-title" placeholder="Blog Title">
        <br>
        <label>Write your blog here:</label>
        <br>
        <textarea  name="content" id="blog-text" placeholder="Enter your Blog here.." rows=6; cols=50;></textarea>
        <br>
        <label>Upload your image here:</label>
        <input type="file" id="imageInput" accept = "image/*">
        <div class="wrap-btn1">
        <button type="submit" id="add-btn">Add Blog</button>
        </div>
        </div>
    </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
crossorigin="anonymous"></script>
      
  
      <script>
          function openNav() {
                  document.getElementById("mySidenav").style.width = "250px";
                  document.getElementById("main").style.marginLeft = "250px";
                  document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
              }
  
              /* Set the width of the side navigation to 0 and the left margin of the page content to 0, and the background color of body to white */
              function closeNav() {
                  document.getElementById("mySidenav").style.width = "0";
                  document.getElementById("main").style.marginLeft = "0";
                  document.body.style.backgroundColor = "white";
              }
      </script>
  
    
   
  
  </body>
  
  </html>
  
