<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG PAGE</title>
    <link rel="stylesheet" href="/css/blog.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">        
        <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
       <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">
      <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
  
  
       <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
          integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
          crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
          integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
          crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
          crossorigin="anonymous"></script>
       <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      
      
</head>

<body>

  <%- include('partials/navbar'); %>

    <!--Header-->
    <div class="header">
        <h1 class="title">BLOGS</h1>
    </div>
    <br>
    <!--carousel-->
    <div class="main-carousel" data-flickity='{"wrapAround":true,"autoPlay":true}'>
      <% for(var i=newshow.length-1;i>=0;i--) { %>
        <div class="carousel-cell">
            <div class="card" style="width: 40rem;">
                <div class="imgBx">
                    <img src="/img/image1.jpeg" class="card-img-top" alt="..." style="height:162.96px">
                </div>
                <div class="card-body">
                    <h5 class="card-title"> <%=  newshow[i].title %></h5>
                    <p class="card-text"><%=  newshow[i].content %></p>
                    <button class="card-button" onclick="open1(this.id)">Read More</button>
                    <button class="like-button" onclick="like(this.id)"><i class="fas fa-heart">Like</i></button>
                </div>
            </div>
        </div>
        <% } %>
    </div>
    <!-- The sample MODal -->
    <div class="modal-container1 hide" id="container1">
        <div class="modal1" id="modal0">
            <h2>This is my modal</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa, officiis tempore. Nostrum, provident
                veritatis hic, quibusdam illum veniam quisquam, tempore laboriosam vel magnam doloribus perferendis nam
                facilis labore corporis animi?</p>

            <button id="close"class="card-button" onclick="closeme()">
                close
            </button>
        </div>

    </div>

    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="/js/blog.js"></script>
</body>

</html>
